.generalInventory {
    width: 219px;
    height: 439px;
    background-size: 100% 100%;
    position: relative;
  }
  
  .slot {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .itemIcon {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }